*{
    margin: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border:border box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.add-first{
    color:#cccccc;
    font-size:0.70rem;
}
.add-second{
    font-size:0.85 rem;
}
.nav-search{

    background-size: cover;
justify-content: space-evenly;
background-color: burlywood;
width: 820px;
height: 40px;
border-radius: 4px;
display: flex;
}
.search-select{
    background-color: #f9f7f4;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    
}
.search-input{
    width: 759px;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem ;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    



}
.nav-search:hover{
    border: 2px solid orange;
}
.span{
    font-size: 0.7rem;

}
.nav-second{
    font-size:0.85rem;
    font: weight 700px;
}
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 18px;
    font-weight: 700px;
}
.panel{
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
}
.hero-section{
    background-image:url("hero_image.jpg") ;
    background-size: cover;
    height: 400px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 1350px;
 
  position: relative;
  margin: auto;
  display: flex;
  align-items: flex-end;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: transparent;
}


/* shop section*/
.box{
    
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box-img{
    height:280px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-cont{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-cont p{
    color: #007185;

}
.box-cont h2{
    font-size: 1rem;
    text-align: center;
}
/* footer*/
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.top{
    color: white;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;

}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
    justify-content: space-evenly;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}






